* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
p {
  color: #07021199;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}
body {
  max-width: 1280px;
  margin: 30px auto 0;
}
.font-merriweather {
  font-family: "Merriweather", serif;
}
.banner {
  background: linear-gradient(to right, #070211, rgba(7, 2, 17, 0)),
    url("../resources/Banner\ Image.png") no-repeat center;
  /* background-blend-mode: overlay; */
  /* background-position:; */
  /* background-image: linear-gradient(); */
  background-size: cover;
  color: white;
  text-align: center;
  padding: 180px;
  border-radius: 15px;
}

.banner-greeding {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}
.banner-title {
  font-size: 72px;
  font-weight: 900px;
  line-height: 95px;
}
